<style>
    ul {
        list-style-type: none;
    }
</style>

<nav id="asterisk-nav" aria-expanded="false" onmouseover="openMenu()" onmouseout="closeMenu()">
    <button id="asterisk-button" aria-label="Menu" onclick="toggleMenu()"><i class="bi bi-asterisk" aria-hidden="true"></i></button>
    <ul id="menu-sublinks" style="display: none;">
      <li><a href="/setup">Restart Game</a></li>
      <li><a href="/">Exit Game</a></li>
    </ul>
</nav>

<script>
    'use strict'

    function openMenu() {
        console.log("opening menu");
        var asteriskNav = document.getElementById("asterisk-nav");
        var sublinks = document.getElementById("menu-sublinks");
        asteriskNav.setAttribute("aria-expanded", "true");
        sublinks.style.display = "block";
    }

    function closeMenu() {
        console.log("closing menu");
        var asteriskNav = document.getElementById("asterisk-nav");
        var sublinks = document.getElementById("menu-sublinks");
        asteriskNav.setAttribute("aria-expanded", "false");
        sublinks.style.display = "none";
    }

	function toggleMenu() {
        console.log("toggling");
        var asteriskNav = document.getElementById("asterisk-nav");
        var sublinks = document.getElementById("menu-sublinks");
        if (asteriskNav.getAttribute("aria-expanded") == "false")
        {
            openMenu();
        }
        else {
            closeMenu();
        }
    }
    
</script>