{% extends "base.html" %}

{% block content %}
    {% include "_asterisk_menu.html" %}
    {% include "_round_info.html" %}
    <body style="background-color: rgb(126, 218, 146);"></body>
        <p>The content was accepted!</p>
        <p>Onto the next round?</p>
        
    
    
    <!-- Time to switch roles! -->
    <button onclick="window.location.href='/next_round'">Yes</button>
    <!-- Exit Game -->
    <button onclick="window.location.href='/exit_game'">No</button>
    <div class="flower">
        <img style="width:auto;position:absolute;right:0" src="../static/assets/flower-green.svg">
    </div>

    <embed src="../static/assets/yay.wav" loop="true" autostart="true" width="2" height="0">
    
{% endblock content %}