<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Please Try Again</title>
<!-- <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"> -->
<!-- <link rel="stylesheet" href="styles.css"> -->
<style>
    /* Insert styling */
</style>
</head>
<body>
    <h1>Please Try Again</h1>
    <!-- Scripts go at the bottom of your <body> element.-->
    <script src="main.js"></script>
    <noscript>Unfortunately, your browser does not support JavaScript!</noscript>
</body>
</html>