{% extends "base.html" %}

{% block content %}
    {% include "_asterisk_menu.html" %}
    <div class="flex-container">
        <div class="title">How<br> to <br>Play<br>(x/3)</div>
        <div class="instructions"> 
            <div id="how-to-play">
                <p>“Please try again” is a two-player game. One player serves as the CONTENT PROVIDER. The other player takes on the role of the CONTENT MODERATOR.</p>
                <div class="card-container">
                    <div class="card">The CONTENT PROVIDER's job is to submit content based on a shown prompt.</div>
                    <div class="card" style="background: #FBFF34;">The CONTENT MODERATOR determines whether the submitted content is accepted or rejected based on the rule shown on a rule card.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        {% if slide == 1 %}
        <button id="previous-slide-button" class="slide-control-button" onclick="prevSlide()" style="display: none;" value="-1">Previous</button>
        <!-- Add next slide button -->
        <button id="next-slide-button" class="slide-control-button" onclick="nextSlide()" value="1">Next</button>
    {% endif %}
    </div>
    
    
    </div>
    <!-- Scripts go at the bottom of your <body> element.-->
    <script src="../static/js/instructions_slides.js"></script>
    <noscript>Unfortunately, your browser does not support JavaScript!</noscript>
{% endblock content %}