{% extends "base.html" %}

{% block content %}
    {% include "_asterisk_menu.html" %}
    <div style="color:rgb(210, 210, 210);">
        {% include "_round_info.html" %}
    </div>
    
    <!-- <div class="reject-bg"> -->
        <body style="background-color: brown;">
            <div style="color:white;font-size: 40px;">
                <p>The content was rejected!</p>
                <p>{{ curr_player_name }}, would you like to try again?</p>
               
            </div>
           
        <div class="flower">
            <img style="width:auto;position:absolute;top:10px;left:10px" src="../static/assets/rejection-mark.svg">
        </div>
        <div class="flower">
            <img style="width:auto;position:absolute;top:10px;right:10px" src="../static/assets/rejection-mark.svg">
        </div>
        <div class="flower">
            <img style="width:auto;position:absolute;bottom:10px;right:10px" src="../static/assets/rejection-mark.svg">
        </div>
        <div class="flower">
            <img style="width:auto;position:absolute;bottom:10px;left:10px" src="../static/assets/rejection-mark.svg">
        </div>
        </body>
    <!-- </div> -->
    <button style="font-size:40px" onclick="window.location.href='/try_again'">Yes</button>
    <button style="font-size:40px" onclick="window.location.href='/exit_game'">No</button>
        <br><br>
    <div id="audio-player">
        <audio controls autoplay>
            <source src="../static/assets/boo.wav" />
        </audio>
    </div>

    
    
{% endblock content %}