{% extends "base.html" %}

{% block content %}
    {% include "_asterisk_menu.html" %}
    {% include "_round_info.html" %}
    <h2>{{ curr_player_name }}, you're up!</h2>
    <!-- Depending on if the content moderator or provider is called up, the "I'm Ready" button goes to the corresponding page -->
    {% if curr_role == 'provider' %}
        <a href="/input_content">I'm Ready!</a>
    {% elif curr_role == 'moderator' %}
        <a href="/rule_card">I'm Ready!</a>
    {% else %}
        <p>There has been an error. Please <a href="index.html">restart the game</a>.</p>
    {% endif %}
{% endblock content %}