<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Set Up</title>
</head>
<body>
    <h1>Set Up</h1>
    <p>First, let's assign who will be content provider and moderator for the first round. (Don't worry, you will switch roles at the end of each round.)</p>
    <form action="setup_game" method="post">
        <label for="moderator">Moderator</label>
        <input type="text" name="moderator" required />
        <label for="content-provider">Content Provider</label>
        <input type="text" name="content-provider" required />
        <button type="submit">Let's Play!</button>
    </form>
</body>
</html>