{% extends "base.html" %}

{% block content %}
    <h1>Set Up</h1>
    <p>First, let's assign who will be content provider and moderator for the first round. (Don't worry, you will switch roles at the end of each round.)</p>
    <form action="setup_game" method="post">
        <label for="moderator">Moderator</label>
        <input type="text" name="moderator" required />
        <br>
        <br>
        <label for="content-provider">Content Provider</label>
        <input type="text" name="content-provider" required />
        <br>
        <br>
        <button type="submit">Let's Play!</button>
    </form>
{% endblock content %}